@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #FFF3F3;
}

.background-hero {
    background: url(/img/school-5375259\ 1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

.background-secondary-hero {
    background-image: url(/img/hero-backgroud-merah.png);
    max-width: 100%;
    background-size: cover;
    opacity: 1;
    padding-top: 40px;
    padding-bottom: 60px;
    height: 100%;
}

.navbar-privatalfaiz {
    z-index: 55555;
    padding-top: 40px;
    padding-bottom: 20px;
}

.navbar-privatalfaiz .nav-privatalfaiz {
    margin-left: auto;
}

.navbar-brand img {
    width: 200px;
}

.navbar-privatalfaiz .navbar-nav a {
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 18px;
    color: #ffffff !important;
}

.navbar-privatalfaiz .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav a:hover {
    color: #086288 !important;
}

.section-hero {
    padding-top: 80px;
}

.hero-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    color: #FFFFFF;
}

.hero-description {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.card-information-hero {
    padding: 30px 10px 20px 10px;
    background: #FFFFFF;
    box-shadow: 0px 17px 29px -25px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    margin-top: -60px;
}

.information-icon-item {
    margin: auto;
}

.icon-information-hero {
    align-self: center;
    margin-left: 60px;
    margin-right: 60px;
}

.icon-information-hero p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: #4F4F4F;
}


/*section-benefit*/

.section-benefit {
    background-image: url(/img/bg-benefit.png);
    background-size: cover;
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
}

.section-benefit p {
    color: #086288;
}

.section-benefit h3 {
    font-weight: bold;
    font-size: 36px;
    color: #8D1313;
}

.text-small-content {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
}

.text-info-content {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

.image-benefit img {
    width: 100%;
}


/*section-why-us*/

.section-why-us {
    padding: 20px 0px 20px 0px;
    background: url(/img/background-content-why-me.png);
    background-position: auto;
    background-size: cover;
}

.why-us {
    margin-bottom: 40px;
    margin-top: 120px;
}

.why-us h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    color: #ffffff;
}

.why-us p {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #efefef;
}


/*section-testimoni*/

.section-testimoni {
    padding-top: 160px;
    padding-bottom: 140px;
    background-image: url(/img/bg-testimoni.png);
    background-size: cover;
    max-width: 100%;
    height: 100%;
}

.div-testimoni {
    margin-top: 40px;
    margin-bottom: 80px;
}

.div-testimoni h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #8D1313;
}

.card-testimoni {
    padding-bottom: 30px;
    margin-bottom: 25px;
    border: none;
    background: #FFFFFF;
    border-radius: 25px;
    transition: transform 500ms;
}

.card-testimoni:hover {
    transform: scale(1.02) !important;
}

.card-testimoni img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.card-testimoni h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
}

.card-testimoni .card-text {
    margin-top: -5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: left;
    color: #6e6e6e;
}

.card-testimoni p.card-text-span {
    margin-top: -7px;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ff9595;
}


/*section-artikel*/

.section-artikel {
    position: relative;
    z-index: 3333;
    margin-top: -50px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(/img/background-artikel.png);
    background-position: auto;
    background-size: cover;
    width: 100% !important;
    height: 100%;
}

.div-artikel h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #5B3D11;
}

.card-artikel {
    margin-bottom: 15px;
    background: transparent;
    border: none;
}

.card-artikel img {
    border-radius: 15px;
}

.card-artikel h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 51px;
    color: #5B3D11;
}

.card-artikel p {
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    color: #7E643D;
}

.card-artikel .card-body {
    margin-left: 20px;
}


/*section-konsultasi*/

.section-konsultasi {
    margin-top: -40px;
    position: relative;
    z-index: 00000;
    padding-top: 120px;
    padding-bottom: 120px;
    background: url(/img/bg-konsultasi.png);
    background-position: auto;
    background-size: cover;
    width: 100% !important;
    height: 100%;
}

.content-konsultasi h3 {
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    color: #252525;
}

.content-konsultasi p {
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #707070;
}


/*section-wujudkan*/

.section-wujudkan {
    background: url(/img/school-lengkung.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
}

.background-merah {
    background-image: url(/img/hero-backgroud-merah.png);
    background-size: cover;
    opacity: 2;
}

.div-wujudkan {
    margin-top: 60px;
}

.div-wujudkan h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
}

.image-wujudkan {
    margin-top: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/*Footer*/

.footer {
    background-color: #FFFDFD;
    padding-top: 80px;
    padding-bottom: 40px;
}

.tiga {
    z-index: 1;
    position: absolute;
    display: none;
}

.corak-footer {
    z-index: 1;
    position: relative;
}

.corak-footer .satu {
    position: absolute;
    top: auto;
    bottom: 0;
}

.corak-footer .dua {
    position: absolute;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
}

.footer-content {
    position: relative;
    z-index: 33;
}

.info-footer p {
    margin-top: 10px;
    color: #595959;
    font-size: 16px;
    font-weight: normal;
}

.info-footer a {
    color: #595959;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.info-footer a:hover {
    color: #595959;
    text-decoration: underline;
}

.info-footer img {
    width: 200px;
}

.footer-nav h5 {
    color: #464646;
    font-size: 18px;
    font-weight: 500;
}

.footer-nav li {
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
}

.footer-nav li a {
    color: #595959;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.payment-footer h5 {
    color: #464646;
    font-size: 18px;
    font-weight: 500;
}

.payment-item {
    margin-top: 10px;
    display: flex;
}

.payment-item img {
    margin-right: 10px;
    margin-left: 10px;
}


/*Button*/

.carousel-dark .carousel-control-next-icon {
    filter: none;
}

.carousel-dark .carousel-control-prev-icon {
    filter: none;
}

.btn-link {
    font-weight: 500;
    font-size: 16px;
    color: #00A19D;
}

.navbar-toggler {
    border: none;
}

.btn-primary {
    background-color: #00A19D;
    border: 1px solid #00A19D;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 25px;
    transition: transform 500ms;
}

.btn-primary:hover {
    background-color: #00A19D;
    border: 1px solid #00A19D;
    color: #ffffff;
    transform: scale(1.05);
}

.btn-secondary {
    background: #157CA8;
    border-radius: 30px;
    border: 1px solid #157CA8;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    transition: transform 500ms;
}

.btn-secondary:hover {
    background-color: #157CA8;
    border: 1px solid #157CA8;
    color: #ffffff;
    transform: scale(1.05);
}

.brand-merah {
    display: none;
}

.brand-merah.scrolled {
    display: block;
}

.brand-putih.scrolled {
    display: none;
}

.navbar-privatalfaiz.scrolled {
    padding: 10px 0px;
    box-shadow: -1px 9px 14px -13px rgba(94, 94, 94, 0.54);
    background-color: #ffffff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar-nav .nav-color.scrolled {
    color: #a72631 !important;
}

.navbar-nav .nav-color.scrolled:hover {
    color: #235ca7 !important;
}

@media (max-width:767px) {
    .section-benefit {
        background-position: auto;
        background-repeat: no-repeat;
    }
    .section-why-us {
        background-position: center;
        background-repeat: no-repeat;
    }
    .section-artikel {
        background-position: center;
        background-repeat: no-repeat;
    }
    .card-artikel h5 {
        line-height: 42px;
    }
    .card-artikel p {
        line-height: 33px;
    }
    .section-konsultasi {
        background-position: center;
    }
    .section-konsultasi img {
        margin-top: 15px;
    }
    .footer-nav {
        margin-top: 20px;
        margin-left: -30px;
    }
    .section-hero {
        padding-top: 120px;
    }
    .navbar-collapse {
        padding: 10px;
        border-radius: 15px;
        background-color: #ffffff;
    }
    .navbar-privatalfaiz .navbar-nav a {
        font-weight: 500;
        font-size: 16px;
        color: #be313c !important;
    }
    .icon-information-hero {
        margin-bottom: 40px;
    }
    .payment-footer {
        margin-top: 20px;
    }
    .payment-item {
        margin-top: 10px;
    }
    .image-wujudkan {
        width: 100%;
    }
    .card-artikel .card-body {
        margin-left: -8px;
    }
}

@media (max-width:545px) {
    .card-artikel .card-body {
        margin-left: -8px;
    }
    .tiga {
        display: block;
    }
    .navbar-brand img {
        width: 160px;
    }
}